body{
    background-image: url(imagens/fundo.jpg);
    background-size:cover;
}
header{
    text-align: center;
    width: 100%;
    height: 75px;
    background-image: url(imagens/cabecalho.jpg);   
    padding-top: 10px;
    font-weight: bold;
    color:  rgb(124, 23, 124);
    font-size: 50px;
text-align: center;
}
nav{
    width: auto;
    height: 30px;
    border: solid 1px black;
    background-color: rgb(158, 128, 184);
    text-align: center;
    padding-top: 15px;
}
main{
    background-image: url(imagens/fundoimagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: auto;
    height: 1140px;
    border: dashed 1px black;
    padding: 0px;
    background-color: rgb(124, 23, 124);
}
footer{
    width: auto;
    height: 30px;
    clear: both;
    background-color:rgb(124, 23, 124);
    text-align: center;
}
.caixa{
    background-image: url(imagens/galaxia.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    width: auto;
    height: 5%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(196, 188, 188);
    margin: 5px;
    text-align: center;
    color:rgb(219, 146, 219) ;

}
.contato{
    background-image: url(/imagens/galaxiavermelha.jpg);

}
.imagens{
    width: auto;
    height: 50%;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    margin: 5px;
}

.fonte{
    font-size: 15px;
    color:white
}
.fonte2{
    padding-left: 525px;
    font-size:20px ;
    color:white
    
}
.fonte3{
padding: 50%;
}
.e{
    float: left;
}
.cadastro{
height: 40px;
width: 200px;
color: rgb(66, 83, 136);
    
}
.cadastro1{
    height: 40px;
    width: 200px;
    color: rgb(253, 253, 253);
        
    }
    .espaço{
        padding-bottom: 500px;
    }
.fundo{
    background-image: url(/imagens/fundoimagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}