body{
    background-image:linear-gradient(to bottom, rgb(169, 4, 175),rgb( 2, 1, 17));    
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    }
    header{
        background-image: url(../imagens/cabecalho.jpg);
        background-size: contain;
        background-repeat: repeat;
        text-align: center;
        font-size: 50px;
        width: auto;
        height: 100px;
        border: solid 2px black  
          
    }
    nav{
       background-color:rgb(200, 54, 219) ;
        width: auto;
        height: 40px;
        border: dotted 1px black;
        text-align: center;
        padding-top: 10px;
        
    
    }
    
    main{
        background-image: url(../imagens/fundoimagem.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: auto;
        padding: 30px;
    }
    footer{
        width: auto;
        height: 30px;
        background-color: rgb(77, 21, 180);
        text-align: center;
    }
    article{
        background-image: url(../imagens/cabecalho.jpg);
        background-size: contain;
        width: 20%;
        height: 610px;
        display:inline-table;
        padding: 5px;
        box-shadow: 5px 5px 10px rgb(145, 2, 26);
        box-sizing: border-box;
    }
    article header{
        width: auto;
        height: 150px;
        border-radius: 10px;
        
    }
    .palavras{
        border: dotted 1px black;
        margin: 12px;
        text-align: justify;
        border: solid 2px black;
        border-radius: 10px;
        color: aqua;
    }
    .titulos{
        font-size: 20px;
        font-weight: bold;
    }
    
    .texto{
        text-align: justify;
    }
    .topo{
        color: rgb(35, 9, 184) ;
    }
    .titulo{
        color: rgb(244, 164, 137);
        font-size: 60px;
    }

    .ana{
        background-image: url(../imagens/orianna.jpg);
        background-size: cover;
    }
    .zix{
        background-image: url(../imagens/khazix.jpg);
        background-size: cover;
    }
    .van{
        background-image: url(../imagens/jarvan.jpg);
        background-size: cover;
    }
    .cho{
        background-image: url(../imagens/chogath.jpg);
        background-size: cover;
    }
    .top{
        background-image: url(../imagens/galaxia.jpg);
        background-size: cover;
        box-shadow: 5px 5px 10px rgb(145, 2, 26);
        box-sizing: border-box;
        border-radius: 10px;
        
    }

    .cadastro1{
        color:thistle;
    }